.xray-container {
  touch-action: none;
  position: relative;
  width: clamp(280px, 30vw, 962px);
  aspect-ratio: 962 / 1024;
  max-width: 600px; 
  max-height: 80vh;
  overflow: hidden;
  line-height: 0;
  border-radius: 20px;

  z-index: 100;

  .base-img, .x-ray-area {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }

  &.is-ready {
    background: transparent;
    .base-img, .x-ray-area {
      opacity: 1;
    }
  }

  // Стили для лоадера
  .xray-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    font-family: sans-serif;
  }

  .xray-loader-text {
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-weight: bold;
    animation: pulse 1.5s infinite;
  }

  .base-img {
    width: 100%;
    height: auto;
    display: block;
  }

  .x-ray-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;


    -webkit-mask-image: radial-gradient(
      circle 120px at var(--mouse-x, -500px) var(--mouse-y, -500px), 
      black 50%, 
      transparent 70%
    );
    mask-image: radial-gradient(
      circle 120px at var(--mouse-x, -500px) var(--mouse-y, -500px), 
      black 50%, 
      transparent 70%
    );

    .mask-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (width <= 320px) {
  .xray-container {
    width: 280px;
  }
}

@keyframes pulse {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
  }