:root {
  --total-black: 0, 0, 0;
  --total-white: 255, 255, 255;

  --black: 0, 0, 0;
  --white: 255, 255, 255;

  --bg-color: 237, 237, 237;
  --text-color: 0, 0, 0;
  --primary-color: 166, 138, 249;
  --secondary-color: 182, 3, 218;
}

:root.dark {
  --black: 255, 255, 255;
  --white: 0, 0, 0;

  --bg-color: 30, 30, 30;
  --text-color: 218, 218, 218;
  --primary-color: 166, 138, 249;
  --secondary-color: 54, 54, 54;
}

/*  common colors for fade bg  */
:root {
  --color-1: rgba(123, 31, 162, 0.8);
  --color-2: rgba(0, 188, 212, 0.6);
  --color-3: rgba(247, 0, 255, 0.5);
  --color-4: rgba(63, 81, 181, 0.6);
  --color-5: rgba(0, 230, 118, 0.4);

  --blob-blur: 10px;
  --base-speed: 2s;
}