.sectionBody {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  touch-action: none;
}

@media (width <= 320px) {
  .sectionBody {
    width: 320px;
  }
}