.sectionBody {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  touch-action: none;
}
.mainArea {
  user-select: none;
  margin-top: calc( 50px);
  width: calc(100vw - 40px);
  height: calc(100vh - 50px - 40px);
  background-color: rgba(var(--white), 0.5);
  border-radius: 20px;
  border: 1px solid rgb(var(--primary-color));
}