@property --color-stop-1 {
  syntax: '<color>';
  initial-value: #ff0080;
  inherits: false;
}

@property --color-stop-2 {
  syntax: '<color>';
  initial-value: #7928ca;
  inherits: false;
}

.gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  filter: url('#goo');
  user-select: none;
  

  .morphing-blob {
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    z-index: 2;
    width: 300px;
    height: 300px;

    background: radial-gradient(
      circle at center, 
      var(--color-stop-1) 0%, 
      var(--color-stop-2) 10%, 
      rgba(0, 0, 0, 0.1) 40%, 
      transparent 60%
    );
    /* filter: blur(5px) hue-rotate(#{random(360)}deg); */
    filter: blur(5px);
    animation:
      gradientShift 6s ease-in-out infinite;
    pointer-events: none;
    translate: -50% -50%;
    animation-delay: -#{random(20)}s;
    opacity: 0.8;
  }
}

@mixin blob-style($size, $xShift, $yShift, $duration, $delay: 0s, $opacity: 0.9) {
  position: absolute;
  width: $size;
  height: $size;
  opacity: $opacity;

  background: radial-gradient(
    circle at center, 
    var(--color-stop-1) 1%, 
    var(--color-stop-2) 30%, 
    rgba(0, 0, 0, 0.1) 60%, 
    transparent 80%
  );

  filter: blur(15px);
  transform-origin: $xShift $yShift;
  
  animation: 
    move-round #{$duration} linear infinite, 
    move-vertical #{$duration* 2.5} linear infinite,
    scaling #{$duration* 1} linear infinite,
    gradientShift #{$duration * 2} ease-in-out infinite;
    
  animation-delay: $delay;
  animation-delay: -#{random(20)}s;
  rotate: -100deg;
  
  mix-blend-mode: hard-light;
}
.bg-1 { top: 10vh; right: 10vw; @include blob-style(clamp(200px, 42vw, 1700px),+5vw, -10vh, 23s, 0.2s, 0.8); }
.bg-2 { top: 40vh; right: 20vw; @include blob-style(clamp(400px, 52vw, 2100px),-5vw, -10vh, 105s, 0.1s, 0.6);}
.bg-3 { top: 110vh; right: -35vw; @include blob-style(clamp(600px, 62vw, 2500px), 25vw, -10vh, 35s, 0.5s, 0.7);}
.bg-4 { top: 0vh; left: 0vw; @include blob-style(clamp(200px, 52vw, 1700px), 1vw, 6vh, 18s, 0.3s, 1.6);}


@keyframes move-round {
  0% {
    rotate: -100deg;
  }
  25% {rotate: 0deg }
  50% {rotate: 110deg }
  100% {
    rotate: 220deg;
  }
}

@keyframes move-vertical {
  0%, 100% { translate: 0vw 0vh; }
  25% { translate: 0vw -3vh; }
  50% { translate: 3vw 0vh; }
}

@keyframes scaling {
  0%, 100% { scale: 1; }
  25% { scale: 0.8; }
  50% { scale: 1.4; }
}

@keyframes gradientShift {
  0% {
    --color-stop-1: #ff0080;
    --color-stop-2: #7928ca;
  }
  33% {
    --color-stop-1: #4facfe;
    --color-stop-2: #00f2fe;
  }
  66% {
    --color-stop-1: #f093fb;
    --color-stop-2: #f5576c;
  }
  100% {
    --color-stop-1: #ff0080;
    --color-stop-2: #7928ca;
  }
}

@media (width <= 320px) {
  .gradient-container {
    width: 320px;
  }
}
