.wrapper {
  position: relative;
  max-width: 300px;
  width: clamp(200px, 60vh, 300px);
  max-height: 50vh;
  border-radius: 20px;
  padding: 20px;
  background: white;
  user-select: none;
  aspect-ratio: 1 / 1;
}

.container {
  position: relative;
  width: 100%;
  filter: url('#goo');
  aspect-ratio: 1 / 1;
}

/* 
@media (max-width: 768px), (pointer: coarse) {
  .container {
    filter: none;
  }
} */

.above {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: calc(100% - 60px);
  border: 30px solid rgb(var(--total-white));
  border-radius: 20px;
  background-color: #ffffff00;
  aspect-ratio: 1 / 1;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  animation: morphFade 6s infinite;
}

@keyframes morphFade {
  0% { 
    opacity: 0; 
    transform: scale(0.95); 
  }
  15% { 
    opacity: 1; 
    transform: scale(1); 
  }
  25% { 
    opacity: 1; 
    transform: scale(1); 
  }
  45% { 
    opacity: 0; 
    transform: scale(1.05); 
  }
  100% { 
    opacity: 0; 
  }
}

@media (width <= 320px) {
  .wrapper {
    width: 260px;
  }
}