:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: rgb(var(--bg-color));

  color-scheme: light dark;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}